*{
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    background-size: 100vw 100vh;
    padding-left: 3%;
    padding-right: 3%;
    background-repeat: no-repeat;
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: row;
}

.settings{
    width: 50%;
    align-items: left;
    font-family: 'Times New Roman', Times, serif;
}

.gameBoard{
    /* background: linear-gradient(rgb(34, 123, 34), rgb(160, 160, 53)); */
    width : 90vmin;
    height: 92vmin;
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
}

.snakeHead{
    background: radial-gradient(rgb(136, 223, 223), rgb(95, 179, 238));
    border: 2px solid rgb(0, 21, 255);
    transform: scale(1.4);
    border-radius: 10px;
}

.snakeBody {
    background-color: rgb(248, 198, 48);
    border: .25vmin solid rgb(255, 162, 0);
    border-radius: 12px;
    transform: scale(1.35);
}

.food {
    background-color: rgb(255, 0, 119);
    border: .25vmin solid rgb(149, 97, 111);
    border-radius: 8px;
    transform: scale(1.35);
}

.activeBoardCell{
    background-color: green;
}

.inactiveBoardCell{
    background-color: grey;
}