<nav class="flex flex-col w-120 p-4 pr-14">
    <ul class="flex flex-col p-8 pt-2 gap-8 grow-1">
        <li><a href="/">Home Page</a></li>
        <li><a href="/all">All Resources</a></li>
        <li><a href="/createRes">Create a New Resource :D</a></li>
        <li><a href="/users">=> For Dev only, View all users <=</a></li>
    </ul>
</nav>

