<nav class="flex flex-col p-2 pt-5 pr-10 gap-12 mr-4 backdrop-blur-md bg-white/50 rounded-lg">
    <ul class="flex flex-col p-8 pt-4 gap-8 grow-1">
        <li><a href="/" class="flex gap-4 hover:bg-pink-300 transform-y-2 transition ease-in-out delay-80 hover:shadow-xl hover:underline hover:scale-110 p-2 rounded-lg">
                <img class="w-6 h-6" src="/img/h.png" alt="" />
                <span class="text-lg">Home</span>
            </a>
        </li>
        <li><a href="/all" class="flex gap-4 hover:bg-pink-300 transform-y-2 transition ease-in-out delay-80 hover:shadow-xl hover:underline hover:scale-110 p-2 rounded-lg">
                <img class="w-6 h-6" src="/img/list.png" alt="" />
                <span class="text-lg">All Resources</span>
            </a>
        </li>
        <li><a href="/createRes" class="flex gap-4 hover:bg-pink-300 transform-y-2 transition ease-in-out delay-80 hover:shadow-xl hover:underline hover:scale-110 p-2 rounded-lg">
                <img class="w-6 h-6" src="/img/new.png" alt="" />
                <span class="text-lg">Add Resource</span>
            </a>
        </li>
        <li><a href="/search" class="flex gap-4 hover:bg-pink-300 transform-y-2 transition ease-in-out delay-80 hover:shadow-xl hover:underline hover:scale-110 p-2 rounded-lg">
                <img class="w-6 h-6" src="/img/magnifying-glass.png" alt="" />
                <span class="text-lg">Search</span>
            </a>
        </li>
        <li><a href="/users" class="hover:bg-pink-300 p-2 rounded-lg"> => For Dev only, View all users <=</a></li>
    </ul>
</nav>