<nav class="flex flex-col w-120 p-3 pt-5 pr-14 gap-12 mr-4 backdrop-blur-md bg-white/50 rounded-lg">
    <ul class="flex flex-col p-8 pt-4 gap-8 grow-1">
        <li><a href="/" class="bg-pink-400 hover:bg-pink-300 p-2 rounded-lg">Home Page</a></li>
        <li><a href="/all" class="bg-pink-400 hover:bg-pink-300 p-2 rounded-lg">All Resources</a></li>
        <li><a href="/createRes" class="bg-pink-400 hover:bg-pink-300 p-2 rounded-lg">Create a New Resource :D</a></li>
        <li><a href="/users" class="bg-pink-400 hover:bg-pink-300 p-2 rounded-lg"> => For Dev only, View all users <=</a></li>
    </ul>
</nav>

