header{
    padding: 20px;
    
    text-align: center;
    background-color: rgb(221, 209, 211);
}
html { 
    background:rgb(239, 145, 145);
    
  }
  select {
    display: inline-block;
    padding: 4px 3px 5px 5px;
    width: 150px;
    outline: none;
    color: black;
    border: 1px solid #C8BFC4;
    border-radius: 4px;
    box-shadow: inset 1px 1px 2px #ddd8dc;
    background-color: rgb(243, 189, 198);
}
p{
    text-transform: uppercase;
    text-indent: 30px;
    font-style: italic;
    width: 300px;
    border: 5px solid rgb(10, 10, 10);
    padding: 40px;
    margin: 20px;
}