/* variable declaration */
:root{
  --primary-colour: rgb(4, 32, 48);
  --seconday-colour: rgb(194, 205, 216);
}

.light-mode{
  --primary-colour: rgb(194, 205, 216);
  --seconday-colour: rgb(4, 32, 48);
}

body{
  background:var(--primary-colour);
  transition: background 0.8s linear;
}
/* Top container */
.top-container{
    
    display: flex;
    height: 70px;
    justify-content: right;
    
}

/* page title */
.page-title{
  max-width: none;
  min-width: none;
  justify-self: center;
  margin-right: -150px;
  flex: 4;
}

.glow {
  font-size: 50px;
  color:var(--seconday-colour);
  text-align: center;
  font-family: 'Akshar', sans-serif;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 5px var(--seconday-colour), 0 0 10px var(--seconday-colour), 0 0 15px #20c96f, 0 0 20px #00ef3c, 0 0 20px #00e62a, 0 0 30px #00e104, 0 0 30px #1bc40c;
  }
  to {
    text-shadow: 0 0 10px var(--seconday-colour), 0 0 15px #4dffc4, 0 0 20px #35f5a5, 0 0 15px #4dffbb, 0 0 10px #4dff9a, 0 0 25px #4dffd0, 0 0 20px #4dffc4;
  }
}
/* pagetitleend */

/* Buttons */

.btn{
    height: 30px;
    max-width: 50px;
    color: rgb(120, 116, 116);
    text-align: center;
    margin: 0px 10px 0 10px;
    transition: 0.2s ease;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    font-weight: 400;
    justify-self: flex-end;
}
.btn:hover a:hover{
  border-bottom: 2px solid var(--seconday-colour) ;
  color: var(--seconday-colour);
  cursor: pointer;
} 

.btn a{
  text-decoration: none;
  color: inherit;
}
.three:hover{
  border-bottom: 2px solid var(--seconday-colour) ;
  color: var(--seconday-colour);
  cursor: pointer;
}




/* dropdown on topbar */
/* arrow */
.arrow {
    border: solid rgb(120, 116, 116);
    border-width: 0 3px 3px 0;
    display: inline-flex;
    padding: 3px;
    transform: rotate(90deg);
  -webkit-transform: rotate(135deg);
  transition: 0.2s ease;
}

.btn:hover .arrow {
    transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  border: solid var(--seconday-colour);
}



/* dropdown */
.dropdown {
    position: relative;
    display: inline-block;
  }
  

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(234, 224, 224, 0.3);
    min-width: 100px;
    font-family: 'Oswald', sans-serif;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: var(--seconday-colour);
    padding: 12px 16px;
    font-size: 20px;
    text-decoration: none;
    font-weight: 400;
    display: block;
  }
  

  .dropdown-content a:hover {background-color: rgba(234, 224, 224, 0.2)}
  

  .dropdown:hover .dropdown-content {
    display: block;
}
 

/* darkmode settings icons */
#darkmode-icon{
  height: 30px;
  min-width: 30px;
  cursor: pointer;
  justify-self: flex-start;
  position:sticky;
}