@import url('https://fonts.googleapis.com/css2?family=Anek+Odia:wght@600&family=Montserrat:wght@500&display=swap');
.footer-sec{
    
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(to bottom,rgb(44, 215, 44),rgb(19, 148, 29));
}
.footer{
    display: flex;
    justify-content: space-around;
    color: white;
    /* align-items: center; */
    margin-top: 2rem;
}
.footer a{
    color: white;
    text-decoration: none;
    padding: 0.2rem 0.5rem;
}
.menu a:hover{
    text-decoration: underline;
    color: white;
    background-color:rgb(36, 139, 36) ;
}
.footer-sec h2{
    font-size: 1rem;
    text-decoration: underline;
    font-weight: bolder;
    text-shadow: 1px 1px black;
    text-align: center;
}
.footerLogo img {
  color: white;
  width: 70%;
  /* background-color: white; */
}
.footerChild{
    margin-top: 2rem;
}
.footerChild ul li{
    list-style: none;
}
.icons{
    cursor: pointer;
}
.icons{
    display: flex;
}
.icons li a:hover{
    background-color: transparent;
}
.menu li{
    margin-top: 8px;
}
.copyright{
color: white;
}
.copyright p{
    text-align: center;
    font-size: 0.7rem;
    margin-bottom: 0px;
}
.contactUS{
    margin-top: 2rem;
}
.meForm{
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}
.meForm input{
    width: 100%;
    margin-top: 3%;
    border-radius: 0.3rem;
    border: 2px solid gray;
    font-size: 0.8rem;
    padding: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}
.meForm h2{
    text-decoration: underline;
}
.submitBtn{
    width: 100%;
    margin-top: 5%;
    padding: 1.6rem 2rem;
    background-image: linear-gradient(to right, rgb(252, 208, 13),rgb(254, 158, 4),rgb(254, 96, 5));
    color: white;
    border-radius: 2rem;
     border: none; 
     font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
     opacity: 0.6;
  transition: 0.3s;
}
.submitBtn:hover{
    opacity: 1;
}
.meForm form label{
    font-size: 1.2rem;
    font-weight: bolder;

}
.meForm2{
    width: 70%;
    padding: 2rem 2rem;
    border: 1px solid black;
}
#myForm{
    width: 100%;
}
@media(max-width:600px){
    .footer{
        flex-direction: column;
    }
    .footerLogo img{
        display: none;
    }
    .footerChild{
        display: flex;
        /* justify-content: center; */
        flex-direction: column;
        align-items: center;
    }
}