<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/art.css">
    <title>Document</title>
</head>

<body>
    <%-include('navbar')%>
        <div class="headi">
            <h1>You can read some latest filtered health articles here</h1>
        </div>
        <div class="boxy">
            <div class="w" id="n1"></div>
            <div class="x" id="n2"></div>
        </div>
        <div class="nee">
            <button class="btn btn-warning" id="neo" onclick="at()">Get Another Article</button></div>
        <script src="./js/article.js"></script>
</body>

</html>