<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head.ejs") %> 

<body>
    <header> Create a New Resource :) </header>

    <%- include("./partials/nav.ejs") %>

    <form action="" id="create-res">
        <input type="text" placeholder="title" id="create-res-title" maxlength="80" required>
        <input type="text" name="" id="create-res-about" placeholder="title" maxlength="500" required>
        <input type="Submit">
    </form>

    <script src="/createRes.js"></script>
</body>
</html>