<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head.ejs") %> 

<body>
    <header class="flex justify-center align-items text-3xl p-8"> Create a New Resource :) </header>

    <div class="flex min-h-screen">
        <%- include("./partials/nav.ejs") %>

        <form action="" id="create-res">
            <input type="text" placeholder="title" id="create-res-title" maxlength="80" required>
            <input type="text" name="" id="create-res-about" placeholder="title" maxlength="500" required>
            <input type="Submit">
        </form>
    </div>

    <script src="/createRes.js"></script>
</body>
</html>