<html lang="en">

<head>
    <%-include('navbar')%>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--<style>
            h1 {
                background-color: brown;
                color: white;
            }
        </style>-->
        <link rel="stylesheet" href="../css/one.css">
        <title>Home</title>
</head>

<body>

    <div class="sect1">
        <img src="../img/home.jpeg">
        <div class="am">
            <h1 class="name">CoviCare</h1>
        </div>
    </div>
    <div class="info">
        <h3>Our Purpose</h3>
        We work to improve public awareness of the Covid-19 pandemic and help people find the best possible care for covid. No more overwhelming, false and unverified data. The trusted guide with all the information you need in a single place. Visual data representation
        helps you understand the relevant statistics easily without consuming much time. <br> We provide several features like updated covid data of India and the world, a covid risk checker of all countries in case you are planning to travel
        to any of the nations, a severity checker of your symptoms while you are suffering from covid, an article generator which gives you articles on health further helping you save time from searching them up in the web. Additionally, we make people
        aware of various important things like vaccination, symptoms of covid, its varients, and self-isolation. that helps you understand the relevant statistics easily without consuming much time. <br>
        <hr>
        <h3>Our Features</h3>

        <div class="feat">
            <div class="im">
                <img src="./img/data_home.jpg"> <br>
                <a href="/covi">Covid data</a>
            </div>
            <div class="im">
                <img src="./img/travel_home.jpg"> <br>
                <a href="/trav">Covid Risk in different Countries</a>
            </div>
            <div class="im">
                <img src="./img/articles_covid.jpg"><br>
                <a href="/art">Health Articles</a>
            </div>
            <div class="im">
                <img src="./img/severity_home.webp"><br>
                <a href="/symser">Symptoms Severity Checker</a>
            </div>
            <div class="im">
                <img src="./img/vaccine_home.jpg"><br>
                <a href="/vac">Vaccination information</a>
            </div>
        </div>
        <hr>
        <h3 class="pk">Some Quick Reads</h3>
        <a class="btn btn-danger" href="/varients">New varients of Covid-19</a>
        <a class="btn btn-danger" href="/symptoms">Symptoms</a>
        <a class="btn btn-danger" href="/self">Self-Isolation</a>
    </div>
</body>

</html>