<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head.ejs") %> 

<body class="bg-[url('/img/bg.png')]">
    <header class="fixed z-50 w-full flex justify-center align-items text-2xl md:text-3xl p-2 md:p-5 mb-2 mr-0 backdrop-blur-md bg-white/40 ">
        Your Account
    </header>
    
    <div class="flex min-h-screen">
        <%- include("./partials/nav.ejs") %> 


        <div id="body" class="flex flex-col gap-20 grow flex flex-col gap-12 p-8 mr-8 backdrop-blur-md bg-white/40 rounded-lg">
            <div id="my-account" class="flex justify-center text-3xl">
                
            </div>

            <div class="flex justify-center">
                <a href="/api/logout" class="flex justify-center items-center w-20 bg-pink-400 hover:bg-pink-300 p-2 rounded-lg"> Logout </a>
            </div>
            <div id="my-posts-toggle">Your Posts</div>

            <div id="my-posts" class="flex flex-col gap-4 md:gap-10 transition ease-in-out delay-100 opacity-0 h-0">
                View My Posts:


            </div>
            <div>hello there</div>
        </div>
    </div>

    <script src="/showVal.js"></script>
    <script src="/account.js"></script>
</body>
</html>