<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head.ejs") %> 

<body>
    <header class="flex justify-center align-items text-3xl p-8"> All resources </header>

    <%- include("./partials/nav.ejs") %>

    <% for ( let i = 0; i < resources.length; i++ ) { %>
        <h3> <%= resources[i].title %>  </h3>
        <p> <%= resources[i].from %>  </p>
    <% } %>
</body>
</html>