<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/self.css">
    <title>Self Isolation</title>
</head>

<body>
    <%-include('navbar')%>
        <div class="img">
            <img src="./img/self.png" alt="">
            <div class="box">
                <div class="one">
                    <h5>Separate or isolate in your home. Stay in a “sick room” and separate yourself as far away as you can from other people in your home, including using a separate bathroom if possible. Restrict any contact from the people you live with,
                        as well as your pets.</h5>
                </div>
                <div class="two">
                    <h5>Monitor symptoms. If your illness is worsening, call your medical provider. If you experience severe warning signs such as shortness of breath, painful and persistent chest pain or pressure, new confusion or inability to arouse, or
                        bluish lips or face, you should seek urgent medical attention.</h5>
                </div>
                <div class="three">
                    <h5>Cleaning and disinfecting daily. Each day you should clean the surfaces you touch in your isolated space—the bedroom/ bathroom you use. Your caregiver can clean all other common areas but should limit cleaning the areas you use and
                        only on an as-needed basis if you are unable to do so.</h5>
                </div>
                <div class="four">
                    <h5>Wear a facemask while you are sick. Keep this on when a caregiver is in the same room as you, or if you need to go to a medical facility for care. </h5>
                </div>
                <div class="five">
                    <h5>
                        When to discontinue home isolation. The decision to stop home isolation should be made after consulting with your healthcare provider and state and local health departments. Generally speaking, going three full days without a fever and without the use
                        of fever-reducing medication, as well as improvement in other symptoms are an indication that you may not be contagious, however, you may need to be tested to be certain. Your healthcare provider can advise you appropriately.
                    </h5>
                </div>
            </div>
        </div>

</body>

</html>