<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/symptoms.css">
    <title>Symptoms</title>
</head>

<body>
    <%-include('navbar')%>
        <div class="img">
            <img src="./img/symptoms2.jpg">
        </div>
        <h1>COVID-19 affects different people in different ways. Most infected people will develop mild to moderate illness and recover without hospitalization.
            <br>
        </h1>
        <h2>
            Most common symptoms:
        </h2>
        <h3>
            <ul>
                <li>Fever</li>
                <li>Cough</li>
                <li>Tiredness</li>
                <li>Loss of taste or smell</li>
            </ul>
        </h3>
        <hr>
        <h2>
            Less common symptoms:
        </h2>
        <h3>
            <ul>
                <li>Sore throat</li>
                <li>Headache</li>
                <li>Aches and pains</li>
                <li>Diarrhoea</li>
                <li>A rash on skin, or discolouration of fingers or toes</li>
                <li>Red or irritated eyes</li>

            </ul>
        </h3>
        <hr>
        <h2>Serious symptoms:</h2>
        <h3>
            <ul>
                <li>Difficulty breathing or shortness of breath</li>
                <li>Loss of speech or mobility, or confusion</li>
                <li>Chest pain</li>
            </ul>
        </h3>
</body>

</html>