<html lang="en">

<head>
    <%-include('navbar')%>
        <hr>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./css/varients.css">
        <title>Varients</title>
</head>

<body>
    <div class="heading">
        <h1 class="head1">COVID-19: variants</h1>
        <h3 class="head2">Viruses, like SARS-CoV-2, change over time and will continue to change the more they circulate. Sometimes, variants of the virus may develop. A variant is where the virus contains at least one new change to the original virus. ​ Some variants
            of the coronavirus, such as Delta and Omicron, are spreading more easily between people.
        </h3>
    </div>
    <section class="container">
        <h1>Omicron - B.1.1.529</h1><br>
        <img src="./img/omicron_variant.jpg">
        <h2>First identified: South Africa <br> Spread: Spreads more easily than others.
            <br> Severe illness and death: Data suggest that Omicron is less severe in general. However, a surge in cases may lead to significant increases in hospitalization and death. More data are needed to fully understand the severity of illness
            and death associated with this variant. <br>Vaccine: Breakthrough infections in people who are vaccinated are expected, but being up to date on recommended vaccines is effective at preventing severe illness, hospitalizations, and death. The
            emergence of the Omicron variant further emphasizes the importance of vaccination and boosters.<br> Treatments: Some, but not all, monoclonal antibody treatments remain effective against Omicron. Public health agencies work with healthcare
            providers to ensure that effective treatments are used appropriately to treat patients.</h2>
        <br>
        <h1>Delta - B.1.617.2</h1><br>
        <img src="./img/delta_variant.jpg">
        <h2>First identified: India <br> Severe illness and death: May cause more severe cases than the other variants<br> Vaccine: Breakthrough infections in people who are vaccinated are expected, but being up to date on recommended vaccines is effective
            at preventing severe illness, hospitalizations, and death. Early evidence suggests that people who are up to date with their vaccines who become infected with the Delta variant can spread the virus to others. All FDA-approved or authorized
            vaccines are effective against severe illness, hospitalization, and death<br> Treatments: All FDA-authorized monoclonal antibody treatments are effective against infection with Delta.</h2>
    </section>
</body>

</html>