* {
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

nav {
    line-height: 80px;
    position: fixed;
    width: 100%;
}

.head {
    background-color: purple;
    line-height: 50px;
    font-size: 50px;
    color: white;
    font-weight: 900;
    cursor: pointer;
}

.side {
    position: fixed;
    background-color: purple;
    width: 250px;
    height: 100%;
    text-align: center;
    margin: top 20px;
}


.side img {

    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin-top: 20px;
    border: 3px solid #fff;

}

.side h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;

}


.side a {

    display: block;
    text-decoration: none;
    color: white;
    line-height: 87px;
    transition: 0.5s;
    font-size: 20px;
    margin-left: 0px;
    align-items: right;
}

.side a:hover {

    background-color: blue;
    padding-left: 30px;
}

.box {
    float: right;
    background-color: purple;
    margin-right: 10px;
    color: white;
    font-size: 20px;
    width: 50px;
    height: 100%;
    display: none;
}

@media (max-width: 800px) {
    .side a span {
        display: none;
    }

    .side .side-top {
        display: none;
    }

    .side {
        width: 130px;
    }

    .side a {
        line-height: 160px;
        align-items: center;
        margin-left: 0;
        font-size: 50px;
    }
}






@media (max-width:600px) {

    .side {
        display: none;
    }

    .box {
        display: block;
    }

    lable {
        text-align: center;
    }

    .side a span {
        display: flex;
    }

    .side a {
        display: block;
    }
}