.nav-style {
    background-color: #F05454;
    color: #121212;
}

.button-style {
    background-color: #30475E;
    color: #F5F5F5;
}

.line-style {
    color: #f5f5f5;
}

.body-style {
    background-color: #F5F5F5;
}

.headline-style {
    color: #121212;


}

.date-style {
    color: #F05454;
}

.description-style {
    color: #30475E;
}

.btn-style {
    background-color: #F05454;
    color: #F5F5F5;
}

.meetthe-style {
    color: #F5F5F5;
}

.creator-style {
    color: #F05454;
    ;
}